<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
    <%= yield %>
    <br>
    <a href= '<%= new_user_url %>' > Create User Profile </a>
    <br>
    <a href= '<%= new_session_url %>'> Login </a>



     <form action="<%= session_url %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Logout">
          </form>

  
  </body>
</html>
